body{
	margin:0;
	width: 100%;
	background-color:#040404;
}
body{
	font: 14px Helvetica, sans-serif; line-height: 24px;
	color: #a6a6a6
}

a{
	color:white;
	text-decoration: none;
}
header h1{
	margin: 49px 0 0 45px; 
	float: left;
	
}
header nav {
	float: left;
	font-size: 150%;
	margin: 54px;
	 }
	 header nav ul li {
	 	display: inlne;
	 	float: left; 
	 	color: #fff;
	 	list-style: none;
	 	width: 250px; 
	 }
	 header nav ul li a {
	 	color: #ffffff
	 	margin:0 12px;
	 	padding: 0 5px 5px;
	 	text-decoration: none;
	 	text-transform: uppercase;
	 	float: left;
	 }

